.Input {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: lightblue;
  border-radius: 12px;

  margin:20px;

  &.error {
    .input {
      border: 1px solid red;
    }
  }
}

.label {
  display: block;
  margin: 20px;
}

.input {
  width: 40%;
  padding: 12px;
  margin:20px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid black;
  &:focus {
    border: 1px solid blue;
  }
}
.errorMessage {
  color: red;
  display: block;
}

.icon {
  position: absolute;

  top: 70%;
  transform: translateY(-50%);
  left: 38%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
