.Navbar {
  background-color: $colorBackground;
  @include flexboxCenter;
  @include justify-content(center);
  @include borderBox($primaryColor);
}

.Navbar li {
  @include flexboxCenter;
  @include borderBox($primaryColor);
  @include display-inline;
  @include padding(8px);
}
.Navbar li:hover {
  @include hover;
}


@include xs{
  .Navbar {
    
   
    width: 50vh;
  }
}

@include sm{
  .Navbar {

    width: 108vh;
  }
}

@include md{
  .Navbar{
      width: 140vh;
  }
}
@include lg{
  .Navbar{
      width: 200vh;
  }
}